@font-face {
  font-family: OpenSans;
  src: url(/fonts/OpenSans-Regular.ttf);
}

body {
    display: flex;
    justify-content: center;

    color: #ffffff;
    background-color: #040404;

    font-family: OpenSans;
}

hr {
    border: 1px solid #00cc00;
}

a {
    color: #00cc00;
    text-decoration: none;
}

h3 {
      line-height: 0px;
}

.topdiv {
    border: 2px solid #00cc00;
    border-radius: 15px;

    width: 690px;
    margin-bottom: 10px;
    padding-left: 40px;
    
    background-color: #222222;
}

.topdiv a {
    color: #00cc00;
}

.maindiv {
    
    border: 2px solid #00cc00;
    border-radius: 15px;
    
    width: 650px;
    padding: 40px;
    
    background-color: #222222;
}

.footer p a {
    color: #00cc00;
}
