body {
    display: flex;
    justify-content: center;

    background-color: #181818;
}

hr {
    border: 1px solid #940000;
}

.maindiv {
    padding: 8px;
    border: 2px solid #940000;
    width: 800px;
    background-color: #858585;
}
